.ipynb_checkpoints/
.Rhistory
*.html
Cardiology.pdf
Family Medicine.pdf
Gastroenterology.pdf
General Surgery.pdf
GYN Surgery.pdf
Obstetrics.pdf
Ophthalmology.pdf
Oral-Maxillofacial Surg.pdf
Orthopedic Surgery.pdf
Otolaryngology.pdf
Pain Clinic.pdf
Podiatry.pdf
Pulmonology.pdf
Urology-GU Surgery.pdf
